.nav-bar {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  align-items: flex-start; /* Align items at the start (top) of the flex container */
  padding: 10px;
  width: 700px;
  height: 90px;
  border: 3px solid rgb(25, 87, 154);
  border-radius: 15px;
  background-color: cyan;
  z-index: 1;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Align items at the end (bottom) of the flex container */
  width: 20%;
  height: 100%;
}

.pill-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-end; Align content at the bottom of the flex container */
  height: 100%;
  width: 60%;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 5px 5px;
  border-radius: 15px; /* Apply border-radius for a "pill" shape */
  background-color: #007bff; /* Blue background color for the pills */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
  width: 90%;
  height: 85%;
}

.nav-link:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

.icon {
  height: 45%;
}

